<div class="row">
    <div class="center-block keskita-perkele">

    <h3>What is this?</h3> 

    <p>REST is a coding architechtural model and comes from the words "Representational State Transfer". It is completely stateless, meaning server side does not store any state about the client session. The state is instead kept and transfered from the client to everywhere. This is the architechture style of the world wide web!</p>

    <p> This RESTful API is developed using Nodejs and the MEAN-stack. It implements HTTP services to collect and serve data about different games. This can be used to store data about game time, player behavior and so on for later analysis and other use.</p>

  </div>
</div>


<!-- Second row -->
<div class="row">
  <div class="center-block keskita-perkele">

    <h4>REST Verbs</h4>
    
    <table class="table">

      <thead>
        <tr>
          <th>Verbs</th>
          <th>Objective</th>
          <th>Implemented</th>
        </tr>
      </thead>

      <tbody>
        <tr> <td>GET</td>     <td>Retrive items from resource</td>        <td>Yes</td>  </tr>
        <tr> <td>POST</td>    <td>Create new item in resource</td>        <td>Yes</td>  </tr>
        <tr> <td>PUT</td>     <td>Replace existing item in resource</td>  <td>No</td>   </tr>
        <tr> <td>PATCH</td>   <td>Update existing item in resource</td>   <td>Yes</td>  </tr>
        <tr> <td>DELETE</td>  <td>Delete existing item in resource</td>   <td>No</td>   </tr>            
      </tbody>

    </table>

  </div>
</div>
