<div class="row custom-content">
  <div class="center-block keskita-perkele">
    <form class="form-horizontal" role="form" id="newTeam">

      <h3>Create New Team</h3>
      
      <!-- First label -->
      <div class="form-group">
        <label class="control-label col-lg-2" for="username">Username:</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="username" placeholder="Must be unique">
        </div>
      </div>

      <!-- Second label -->
      <div class="form-group">
        <label class="control-label col-lg-2" for="teamname">Team name:</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="teamname" placeholder="Name of your team (can be empty)">
        </div>      
      </div>

      <!-- Third label -->
      <div class="form-group">
        <label class="control-label col-lg-2" for="Description">Description:</label>
        <div class="col-lg-6">          
          <textarea class="form-control " id="description" placeholder="Description of your REST needs!"></textarea>
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <div class="control-label col-lg-2">
          <input type="submit" class="btn btn-default custom-btn" value="Generate">
        </div>
      </div>

      <!-- ApiKey -->
      <div>
        <h5 id="apikey">Your key will appear here.</h5>
      </div>

    </form>
  </div>
</div>