          <!--<h4>Route information</h4>
          <table class="table">
            <thead>
              <tr> <th>Routes</th> <th>Functionality</th> <th>Implemented</th></tr>
            </thead>
            <tbody>
              <tr> <td>/</td>                 <td>GET this page</td>                                <td>Yes</td>  </tr>
              <tr> <td>/users</td>            <td>GET all the users, POST new user</td>             <td>Yes</td>  </tr>        
              <tr> <td>/users/:apiKey</td>    <td>GET user by apiKey, PATCH and PUT by apiKey</td>  <td>Yes</td>  </tr>
              <tr> <td>/games</td>            <td>GET all data about all games</td>                 <td>Yes</td>  </tr>
              <tr> <td>/games/single/:id</td> <td>GET single game data insert by id</td>            <td>Yes</td>  </tr>
              <tr> <td>/games/:apiKey</td>    <td>GET all games by apiKey, POST new game data</td>  <td>Yes</td>  </tr>
            </tbody>
          </table>