/* 	Copyright © Antero Juutinen
	Feel free to use and modify this to your own uses, but do not hold me liable. -->
	WTFNMFPL-1.0
*/

body, html {
	background-color: #EBEBEC !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
	height: 100%;
}
.row { 
	margin-top: 20px; 
	color: #5C4A42;
	text-shadow: -1px -1px 4px rgba(150, 150, 150, 1);
	font-size: 16px;
}
.row > h3 {	color: black; font-weight: bold;}
.row > h4 {	color: black; font-weight: bold;}
.row thead { color: #383334; }

.text-justify {
	text-align: justify;
}

.text-center {
	text-align: center;
}
#jumbo {
	padding         : 20px;
	background-color: #383334;
	width           : 100%;
	color           : #AB8A71;
	background-image: url(../img/jumbo_bg.jpg);
	margin-bottom   : 0px;
}

#jumbo h2 {	
	font-weight: 800; 
	float: none;
	padding-left: 0px;
}

#apikey {
	width           : 40%;
	font-weight     : bold;
	background-color: #98fb98;
	padding         : 5px;
	border-radius   : 25px;
	border          : 1px solid black;
	text-align      : center;
	color           : #003300;
	text-shadow     : none;
}

#date {
	font-weight: normal;
	padding-top: 5px;
}

#navigation {
	margin-top      : 0px;
	background-color: #5C4A42;
	border-radius   : 0px;
	border          : 0px;
}

#navElements {
	float    : none;
	font-size: 18px;
}

#navElements a { color: #D0CDCA; }

#navElements > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;  /*Sets the text hover color on navbar*/
}

#navElements > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; 
	background-color: #AB8A71; /*BACKGROUND color for active*/
}

.keskita-perkele {
	padding-left: 15% !important;
	padding-right: 15% !important;
}