body, html {
	background-color: #EBEBEC;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
}
h4 {
	padding-top: +20px;
}

.text-justify {
	text-align: justify;
}

.text-center {
	text-align: center;
}
#jumbo {

	margin-bottom: 0px;
	padding         : 20px;
	background-color: #383334;
	width           : 100%;
	color           : #AB8A71;
	background-image: url(../img/jumbo_bg.jpg);
	text-align      : center;
}

#jumbo h2 {
	font-weight: 800;
}

#form-content {	

}

#form-content input, textarea{
}

#apikey {
	width: 40%;
	font-weight: bold;
	background-color: #98fb98;
	padding: 5px;
	border-radius: 25px;
	border: 1px solid black;
	text-align: center;
	color: #003300;
	text-shadow: none;
}

#date {
	font-weight: normal;
	padding-top: 5px;
}

.navbar-nav {
	width: 100%;
	text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}